/* ==================== Start About Design ==================== */

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 0rem;
}


.about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg-color);
  padding-bottom: 6rem;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img1 {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img1 img {
  width: 100%;
  border-radius: 50%;
  border: 0.3rem solid var(--main-color);
}

.about-img1 .circle-spin1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border-top: 0.3rem solid var(--second-bg-color);
  border-bottom: 0.3rem solid var(--second-bg-color);
  border-left: 0.3rem solid var(--main-color);
  border-right: 0.3rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content1 {
  text-align: center;
}

.about-content1 h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content1 p {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box1.btns1 {
  display: inline-block;
  width: 15rem;
  box-shadow: none;
}

.btn-box1 .btn1:hover {
  box-shadow: .4rem .4rem var(--main-color);
}

.btn-box1.btns1 a::before {
  background: var(--second-bg-color);
}

.btn-box1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box1 .btn1 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  box-shadow: .4rem .4rem var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.45s;
}

.btn-box1 .btn1:hover {
  color: var(--main-color);
}

.btn-box1 .btn1:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box1 .btn1:nth-child(2):hover {
  color: var(--bg-color);
  box-shadow: none;
}

.btn-box1 .btn1:nth-child(1) {
  box-shadow: none;
}

.btn-box1 .btn1:nth-child(1):hover {
  box-shadow: .4rem .4rem var(--main-color);
}

.btn-box1 .btn1:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box1 .btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box1 .btn1:hover::before {
  width: 100%;
}

.about1 .about-column1 {
  flex: 1 1 40rem;
}

.about-column1 .title1 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 3rem 0 1.5rem;
}

.about-column1 .about-box1 {
  position: relative;
  width: 80rem;
  left: 50%;
  transform: translateX(-50%);
}
.about-box1 .about-content1 {
  position: relative;
  border: 0.2rem solid var(--main-color);
  box-shadow: .4rem .4rem var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.about-box1 .about-content1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.about-box1 .about-content1:hover::before {
  width: 100%;
}

.about-content1 .progress1 {
  padding: 1rem 0;
}

.about-content1 .progress1 h3 {
  font-size: 2rem;
}

.about-content1 .progress1 h3 span {
  color: var(--main-color);
}

/* ==================== End About Design ==================== */

.portfolio {
  position: relative;
  background: var(--second-bg-color);
}

.portfolio h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}

.col {
  position: relative;
  background: var(--bg-color);
  border-radius: 1rem;
  height: fit-content;
}

.col .btn-box.btns {
  margin-bottom: 2rem;
}

.col img {
  max-width: 100%;
  padding: 1rem;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.portfolio h3 {
  font-size: 4rem;
  margin: 1rem 0 1rem 0;
}

.portfolio h5 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.layer p {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

/* ==================== Start Navbar Text Animation Design ====================

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}

.animate.scroll1 {
  transition: 1s ease;
  transition-delay: calc(0.01s / var(--i));
  animation: none;
}

.portfolio.animate.scroll1 {
  background: var(--second-bg-color);
}

.about1.show-animate .animate.scroll1,
.portfolio.show-animate .animate.scroll1 {
  transition-delay: calc(0.01s * var(--i));
  width: 0;
}

==================== Start Responsive Design ==================== */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 4% 2rem;
  }

  .about-column1 .about-box1 {
    width: 55rem;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .about-column1 .about-box1 {
    width: 45rem;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .about-column1 .about-box1 {
    width: 40rem;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 462px) {
  .about-column1 .about-box1 {
    width: 35rem;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .layer p {
    font-size: 1rem;
  }
}

@media (max-width: 371px) {
  .about-column1 .about-box1 {
    width: 30rem;
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .layer p {
    font-size: 1rem;
  }
}

/* ==================== End Responsive Design ==================== */
