/* ==================== Start Google Fonts Link ==================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ==================== End Google Fonts Link ==================== */

/* ==================== Start Universal Design ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-padding-top: 2rem;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* ==================== End Universal Design ==================== */

/* ==================== Start Color Root ==================== */

:root {
  --second-color: #fff;
   --text-color: #000;
  --second-bg-color: #f2f2f2;
  --bg-color: #fff;
  --main-color: #F08080;
}

/* ==================== End Color Root ==================== */

::selection {
  color: var(--second-color);
  background: var(--second-bg-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 2rem;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

/* ==================== Start Header Design ==================== */

.header {
  background: var(--second-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.header.shadow {
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: .5s;
}

.header.shadow .logo{
    color: var(--text-color);
}

.logo {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}

span {
  color: var(--main-color);
}

.login {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.8rem;
  color: var(--main-color);
  transition: 0.5s;
}

.login:hover {
  transform: translateY(-5px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

/* ==================== End Header Design ==================== */



/* ==================== Start Blogs Design ==================== */

.post-header{
    width: 100%;
    height: 500px;
    background: var(--second-bg-color);
}

.post-container{
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-home{
    color: var(--main-color);
    font-size: .6rem;
}

.header-title{
    width: 90%;
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-content{
    margin-top: 10rem !important;
}

.sub-heading{
    font-size: 1.5rem;
}

.blog-heading{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: .2rem;
}

.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title{
    font-size: 1.1rem;
}

.home-sci {
    bottom: 4rem;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: space-between;
  }
  
  .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .home-sci a:hover{
    transform: translateY(-10px);
  }
  

/* ==================== End Blogs Design ==================== */



/* ==================== Start Footer Design ==================== */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
  }
  
  .footer-text,
  .footer-iconTop{
      position: relative;
  }
  
  .footer-text p {
    font-size: 1rem;
  }
  
  .footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  
  .footer-iconTop a:hover {
    box-shadow: 1rem 1rem var(--main-color);
  }
  
  .footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
  }
  
  .footer-iconTop a:hover:before {
    width: 100%;
  }
  
  .footer-iconTop a i:hover {
    color: var(--main-color);
  }
  
  .footer-iconTop a i {
    font-size: 1.6rem;
    color: var(--second-bg-color);
    transition: 0.5s;
  }
  
  /* ==================== End Footer Design ==================== */
  